* {
  margin: 0;
  padding: 0;
}
.mdi--hamburger-menu {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffffff' d='M3 6h18v2H3zm0 5h18v2H3zm0 5h18v2H3z'/%3E%3C/svg%3E");
}
.sidebar {
  background-color: black;
  height: 100vh;
  width: 15vw;
}
.sidebar-top {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  box-sizing: border-box;
  padding: 18px;
  img {
    margin-left: 18px;
  }
}

.sidebar-middle {
  h2 {
    font-size: medium;
    font-weight: 300;
  }
  .heading-subscription {
    margin: 12px;
    color: #676767;
    font-size: 500;
    font-weight: 700;
  }
  /* display: flex; */
  /* background-color: red; */
  color: white;
  .icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;
    margin: 18px 18px;
  }
}
.main-container {
  display: flex;
  background-color: purple;
  width: 100vw;
  height: 100vh;
}

