body {
  background-color: white;
  background-image: url(backgroud.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  background-color: white;
  display: flex;
  justify-content: end;
  align-items: center;
  

  img {
    height: 48px;
  }
}
.text-wrapper{
    
    display: flex;
    flex-direction: column;
    background-color: white;
    .heading-text{
        color: black;
        font-weight: bolder;
        font-size: 48px;
        text-shadow: 2px 2px 2px #676767;
    }
    .sub-heading-text{
        margin: 4px;
        font-size: 32px;
        color: #676767;
    }
}
.scorecard{
    background-color: white;
    width: 55%;
    margin: 8px;
}
.scorecard-header {
  background-color: #ef5c34;
  color: white;
  padding: 10px 16px;
  font-weight: bold;
  font-size: 1.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: inherit;
}

.scorecard-table {
  width: 100%;
  border-collapse: collapse;
  font-family: inherit;
}

.scorecard-table th,
.scorecard-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-weight: normal;
}

.scorecard-table th:first-child,
.scorecard-table td:first-child {
  text-align: left;
}

.batsman {
  color: #2196f3;
  font-weight: normal;
}

.extras,
.total {
  font-weight: bold;
  text-align: left;
}

.scorecard-dnb {
  padding: 8px 16px;
  font-family: inherit;
}

.dnb-names {
  color: #2196f3;
}
